body, html {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

#__gatsby {
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
}

a {
    text-decoration: none !important;
}
  
button {
    text-transform: uppercase !important;
    border-radius: 0 !important;
}
  
.main {
    min-height: 100vh;
    margin-top: -7em;

    @media screen and (max-width: 768px){
        margin-top: 9em;
    }
}
